@model ToDoListManagement.Entity.ViewModel.RegisterViewModel

@{
  Layout = "~/Views/Shared/_AuthLayout.cshtml";
  ViewData["Title"] = "Register";
}

<div class="card-body register-card-body">
  <p class="register-box-msg">Register a new membership</p>
  <form asp-controller="Auth" asp-action="Register" method="post">
    <div class="form-floating mb-3">
      <input type="text" class="form-control add_user_input" asp-for="Name" id="floatingInput"
        placeholder="name@example.com">
      <label for="floatingInput">User Name*</label>
      <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-floating input_item mb-3">
      <input type="email" class="form-control" id="email" style=" position: relative;;" placeholder="name@example.com"
        asp-for="Email">
      <label class="w-100" for="floatingInput">
        <div class="d-flex justify-content-between">
          <div>Email*</div>
        </div>
      </label>
      <div style="position: absolute; right: 12px; top: 20px ;">
        <img src="~/images/customer.svg" alt="">
      </div>
      <span class="text-danger" asp-validation-for="Email"></span>
    </div>

    <div class="form-floating input_item mb-3">
      <input style="position: relative;" asp-for="Password" type="password" class="form-control" id="password"
        placeholder="Password">
      <i class="far fa-eye" id="togglePassword"
        style=" cursor: pointer; position: absolute;  right: 12px; margin-top: -37px;"></i>
      <label for="floatingPassword">Password*</label>
      <span class="text-danger" asp-validation-for="Password"></span>
    </div>

    <div class="row mt-3 justify-content-center">
      <div class="col-4">
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary">Sign In</button>
        </div>
      </div>
    </div>
  </form>
  <p class="mb-0">
    <a asp-controller="Auth" asp-action="Login" class="text-center"> I already have a membership </a>
  </p>

  <script>
    $(document).ready(function () {
      const passField = document.getElementById('password');
      togglePassword.addEventListener('click', function (e) {
        const type = passField.getAttribute('type') === 'password' ? 'text' : 'password';
        passField.setAttribute('type', type);
        this.classList.toggle('fa-eye');
        this.classList.toggle('fa-eye-slash');
      });
    });
  </script>